/* site under construction banner*/
.under-construction {
  display: flex;
  width: 60vw;
  margin: auto; 

  background-color: hsla(0, 100%, 60%, 0.3);
  color: yellow;

  font-size: var(--base-font-size);
  font-weight: 800;
  text-decoration: none;

  border-radius: 24px;
  padding: 12px;
}

/* Welcome/Intro Section */
.welcome-container {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: center;
}

.welcome-logo {
  width: min(20rem, 50%);
  padding: 1rem;
}

.welcome-right {
  width: min(20rem, 50%);
  text-align: right; 
  font-size: calc(var(--largest-font-size) * 1);
  color: var(--theme-color-2-light);
  padding: 1rem;
}

.welcome-center {
    text-align: center;
    color: var(--theme-color-1-dark);
    margin: 0%;
}

.welcome-paragraph {
  text-align: center;
}

.link {
  background-color: var(--theme-color-1-translucent);
}
