
.welcome-center {
  text-align: center;
  color: var(--theme-color-2-light);
}

.link {
  background-color: var(--theme-color-2-translucent);
}

.collapsible {
    background-color: var(--theme-color-2-light-translucent);
    color: var(--theme-color-3);
}

.collapsible .header {
    background-color: var(--theme-color-2-light-translucent);
}

.subheading {
    text-align: center;
    color: var(--theme-color-2-light);
}

.subheading-small {
    color: var(--theme-color-2-light);
}
