
/* css file for site-wide fonts and colors */

/* import Google Sans */
@import url('https://fonts.googleapis.com/css?family=Google+Sans:100,300,400,500,700,900,100i,300i,400i,500i,700i,900i');

/* import Jetbrains Mono font */
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

:root {
  /* set scroll behavior to smooth */
  scroll-behavior: smooth;

  /* universal font-families */
  --font-sans: "Google Sans", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
  font-family: var(--font-sans);

    /* universal site color variables */
  --site-black: hsla(0, 0%, 10%, 1);
  --site-white: hsla(0, 0%, 90%, 1);

  --background-color: linear-gradient(-20deg, hsl(210, 50%, 7%), hsl(265, 50%, 7%) 100%); /* woah such modern :o */ 

  --text-color: var(--site-white);

  /* theme color components */
  --theme-color-1-h: 210;
  --theme-color-1-s: 50%;
  --theme-color-1-l: 66%;
  --theme-color-1-a: 1;

  --theme-color-2-h: 265;
  --theme-color-2-s: 50%;
  --theme-color-2-l: 66%;
  --theme-color-2-a: 1;

  --theme-color-3-h: 120;
  --theme-color-3-s: 50%;
  --theme-color-3-l: 66%;
  --theme-color-3-a: 1;

  /* primary theme colors */
  --theme-color-1: hsla(
    var(--theme-color-1-h),
    var(--theme-color-1-s),
    var(--theme-color-1-l),
    var(--theme-color-1-a)
  );
  --theme-color-2: hsla(
    var(--theme-color-2-h),
    var(--theme-color-2-s),
    var(--theme-color-2-l),
    var(--theme-color-2-a)
  );
  --theme-color-3: hsla(
    var(--theme-color-3-h),
    var(--theme-color-3-s),
    var(--theme-color-3-l),
    var(--theme-color-3-a)
  );

  /* theme color dark and light variants */
  --theme-color-1-dark: hsla(
    var(--theme-color-1-h),
    var(--theme-color-1-s),
    calc(var(--theme-color-1-l) - 15%),
    var(--theme-color-1-a)
  );
  --theme-color-2-dark: hsla(
    var(--theme-color-2-h),
    var(--theme-color-2-s),
    calc(var(--theme-color-2-l) - 15%),
    var(--theme-color-2-a)
  );
  --theme-color-3-dark: hsla(
    var(--theme-color-3-h),
    var(--theme-color-3-s),
    calc(var(--theme-color-3-l) - 15%),
    var(--theme-color-3-a)
  );

  --theme-color-1-light: hsla(
    var(--theme-color-1-h),
    var(--theme-color-1-s),
    calc(var(--theme-color-1-l) + 15%),
    var(--theme-color-1-a)
  );
  --theme-color-2-light: hsla(
    var(--theme-color-2-h),
    var(--theme-color-2-s),
    calc(var(--theme-color-2-l) + 15%),
    var(--theme-color-2-a)
  );
  --theme-color-3-light: hsla(
    var(--theme-color-3-h),
    var(--theme-color-3-s),
    calc(var(--theme-color-3-l) + 15%),
    var(--theme-color-3-a)
  );

  /* theme color translucent variants */
  --theme-color-1-translucent: hsla(
    var(--theme-color-1-h),
    var(--theme-color-1-s),
    var(--theme-color-1-l),
    calc(var(--theme-color-1-a) - 0.8)
  );
  --theme-color-2-translucent: hsla(
    var(--theme-color-2-h),
    var(--theme-color-2-s),
    var(--theme-color-2-l),
    calc(var(--theme-color-2-a) - 0.8)
  );
  --theme-color-3-translucent: hsla(
    var(--theme-color-3-h),
    var(--theme-color-3-s),
    var(--theme-color-3-l),
    calc(var(--theme-color-3-a) - 0.8)
  );

  --theme-color-1-light-translucent: hsla(
    var(--theme-color-1-h),
    var(--theme-color-1-s),
    calc(var(--theme-color-1-l) + 15%),
    calc(var(--theme-color-1-a) - 0.8)
  );
  --theme-color-2-light-translucent: hsla(
    var(--theme-color-2-h),
    var(--theme-color-2-s),
    calc(var(--theme-color-2-l) + 15%),
    calc(var(--theme-color-2-a) - 0.8)
  );
  --theme-color-3-light-translucent: hsla(
    var(--theme-color-3-h),
    var(--theme-color-3-s),
    calc(var(--theme-color-3-l) + 15%),
    calc(var(--theme-color-3-a) - 0.8)
  );
  
}


/* set default font size to 1rem */ 
* {
  font-size: 1rem;
}

/* set site-wide body styling */
body {
  background: var(--background-color); 
  color: var(--text-color);
  font-size: 1rem;

  margin: 0;
  box-sizing: border-box;
  min-height: 100vh; /* do this do that the background gradient doesn't look funky on short pages */
  padding-bottom: 10vh; /* "footer" */

  /* this can make some things disappear if the layout breaks
  but it's better than having unintended horizontal scrolling */
  overflow-x: hidden; 
}

/* top level header */
.top-header {
  font-size: 2rem;
  font-weight: 800;
}

/* top level paragraph */
.top-paragraph {
  width: 90%;
  margin: auto;
  text-align: center;
  font-size: 1.25rem;
}

/* all anchor tags */
a {
  text-decoration: none; /* have no underline by default*/
}

.inline-link {
  font-weight: 400;
  color: var(--text-color);
  border: 2px solid var(--text-color);
  border-radius: 4px;

  display: inline-block;
  padding: 0rem 0.25rem ;
}