.content-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    padding: 0.25rem;
    gap: 0.5rem;
  
    border: 4px solid var(--theme-color-1-translucent);
    border-radius: 2rem;
    
    /* 2 rem spacing on larger screens */ 
    width: auto;
    margin: 0.5rem 2rem;
}

@media (max-width: 900px) {
    .content-box {
        /* 1 rem spacing on larger screens */ 
        margin: 0.5rem 1rem;
    }
}