
/* css file for the contact-box element */

:root {
  --contact-box-color: var(--theme-color-3-translucent);
  --contact-item-size: 5rem;
  --contact-item-margin: 0.75rem;
}

/* contact-box container */
.contact-box {
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  width: fit-content;
  margin: auto;
  
  border: 2px solid var(--site-white);
  border-radius: 1rem;
  background-color: var(--contact-box-color);
}

  .contact-box .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: var(--contact-item-margin);
  }

    .contact-box .item .icon {
      display: flex;
      fill: var(--site-white);
      height: var(--contact-item-size);
      width: var(--contact-item-size);
    }

    .contact-box .item text {
      color: var(--site-white);
      padding-top: 0.5rem;
      font-size: 1.2rem;
      font-weight: 500;
    }

@media (max-width: 850px) {
  .contact-box .item .icon {
    display: flex;
    fill: var(--site-white);
    height: calc(0.5 * var(--contact-item-size));
    width: calc(0.5 * var(--contact-item-size));
  }
}
