
.top-header {
    text-align: center;
    color: var(--theme-color-3-light);
}

.text-box text {
    background-color: var(--theme-color-3-translucent);
}

.carousel-item {
    background-color: var(--theme-color-3-light-translucent);
    margin-bottom: 1rem; 
    display: none;
}

.carousel-item .header {
    background-color: var(--theme-color-3-light-translucent);
    margin-top: 0;
}

.carousel-item .subheading {
    text-align: center;
    color: var(--theme-color-3-light);
}

.carousel-item .subheading-small {
    color: var(--theme-color-3-light);
}

/* carousel item in a carousel item (used for years in the degree section */
.sub-carousel-item {
    background-color: var(--theme-color-3-light-translucent);
    margin-bottom: 1rem; 
    display: none;
}

.sub-carousel-item .header {
    background-color: var(--theme-color-3-light-translucent);
    margin-top: 0;
}

.sub-carousel-item .subheading {
    text-align: center;
    color: var(--theme-color-3-light);
}

.sub-carousel-item .subheading-small {
    color: var(--theme-color-3-light);
}

.collapsible {
    background-color: var(--theme-color-3-light-translucent);
  }
  
.collapsible .header {
background-color: var(--theme-color-3-light-translucent);
}

#page-shortcuts {
margin-bottom: 1rem;
}