
.welcome-center {
  text-align: center;
  color: var(--theme-color-3-light);
}

.link {
  background-color: var(--theme-color-3-translucent);
  margin-right: 1rem;
  overflow: auto;
}

.pdf-embed {
  display: block;
  width: 80%;
  height: 120vh;
  margin: auto;
}
