
.top-header {
  text-align: center;
  color: var(--theme-color-3-light);
}

.text-box text {
  background-color: var(--theme-color-3-translucent);
}

.pdf-embed {
  display: block;
  width: 80%;
  height: 120vh;
  margin: auto;
}
