
/* banner joke section */ 
#banner-joke {
  margin:auto;
  width: fit-content;
  display: flex;
} 

#banner-joke p {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  color: var(--theme-color-1-dark);
  background-color: var(--theme-color-1-translucent);
  border-radius: 2rem;
  padding: 0.5rem;
}

@media (max-width: 900px) {
  #banner-joke p {
    font-size: 1.25rem;
  }
}

/* Welcome/Intro Section */
.welcome {
  display: flex;
  width: 90vw;
  margin: auto;
  justify-content: center;
}

.welcome .logo {
  display: flex;
  padding: 1rem;
  width: 40vw;
  max-width: 40rem;
}

.welcome .text {
  display: flex;
  padding: 1rem;
  text-align: right; 
  font-size: min(4rem, 4vw);
  font-weight: 800;
  font-family: var(--font-mono);
  color: var(--theme-color-2-light);
}

.top-header{
  text-align: center;
  color: var(--theme-color-1-dark);
  margin: 0%;
}

.text-box text {
  background-color: var(--theme-color-1-translucent);
}

.contact-box {
  background-color: var(--theme-color-1-translucent);
}

.content-box.show-dev-only{
  border-color: var(--dev-highlight);
}

.content-box.show-dev-only .top-header{
  color: var(--dev-highlight);
}