
.top-header {
  text-align: center;
  color: var(--theme-color-2-light);
}

.text-box .link {
  background-color: var(--theme-color-2-translucent);
}

.collapsible {
    background-color: var(--theme-color-2-light-translucent);
}

.collapsible .header {
    background-color: var(--theme-color-2-light-translucent);
}

.collapsible .subheading {
    text-align: center;
    color: var(--theme-color-2-light);
}

.collapsible .subheading-small {
    color: var(--theme-color-2-light);
}
