
.top-header {
  text-align: center;
  color: var(--theme-color-1-light);
}

.text-box .link {
  background-color: var(--theme-color-1-translucent);
}

.carousel-item {
    background-color: var(--theme-color-1-light-translucent);
    margin-bottom: 1rem; 
    display: none;
}

.carousel-item .header {
    background-color: var(--theme-color-1-light-translucent);
    margin-top: 0;
}

.carousel-item .subheading {
    text-align: center;
    color: var(--theme-color-1-light);
}

.carousel-item .subheading-small {
    color: var(--theme-color-1-light);
}
