
.top-header {
  text-align: center;
  color: var(--theme-color-1-light);
}

.text-box text {
  background-color: var(--theme-color-1-translucent);
}

.carousel-item {
    background-color: var(--theme-color-1-light-translucent);
}

.carousel-item .header {
    background-color: var(--theme-color-1-light-translucent);
}

.carousel-item .subheading {
    text-align: left;
    color: var(--theme-color-1-light);
}

.carousel-item .subheading-small {
    color: var(--theme-color-1-light);
}
