
.welcome-center {
  text-align: center;
  color: var(--theme-color-1-light);
}

.link {
  background-color: var(--theme-color-1-translucent);
}

.collapsible {
    background-color: var(--theme-color-1-light-translucent);
}

.collapsible .header {
    background-color: var(--theme-color-1-light-translucent);
}

.subheading {
    text-align: center;
    color: var(--theme-color-1-light);
}

.subheading-small {
    color: var(--theme-color-1-light);
}
