
.top-header {
  text-align: center;
  color: var(--theme-color-1-light);
}

.text-box text {
  background-color: var(--theme-color-1-translucent);
}

.collapsible {
    background-color: var(--theme-color-1-light-translucent);
}

.collapsible .header {
    background-color: var(--theme-color-1-light-translucent);
}

.collapsible .subheading {
    text-align: left;
    color: var(--theme-color-1-light);
}

.collapsible .subheading-small {
    color: var(--theme-color-1-light);
}
