<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="darkreader-lock" />
    <title>Yaqin Hasan</title>
    <link rel="icon" href="/favicon.ico" />
    <style>
      html {
        background: #fdf6e3;
      }
      html.dark {
        background: #0a0b11;
      }
    </style>
    <script>
      (function () {
        var s = localStorage.theme,
          d = matchMedia("(prefers-color-scheme:dark)").matches;
        if (s === "true" || (s === null && d)) document.documentElement.className = "dark";
      })();
    </script>
    <!-- This is a SSG copy of the main index.html -->
    <!-- The main Vue app will correctly route to: {{ROUTE_PATH}} -->
  </head>
  <body>
    <noscript>
      <strong> We're sorry but this site doesn't work properly without JavaScript enabled. Please enable it to continue. </strong>
    </noscript>
    <div id="app"></div>
    <script type="module" src="/assets/main.js"></script>
    <link rel="stylesheet" href="/assets/main.css" />
    <script>
      // Set initial route path
      window.__INITIAL_ROUTE__ = "{{ROUTE_PATH}}";
    </script>
  </body>
</html>
